
.crystals{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.crystal {
    border:1px solid rgb(223, 223, 223);
    height: 200px;
    width: 200px;
    border-radius: 4px;
    box-shadow: 4px -2px 73px -25px rgba(255,0,255,0.24);
}

.crystal:hover{
    box-shadow: 1px -2px 102px 27px rgba(255,0,255,0.24);
}

img{
    width:50px;

}

body {
    background-image: url(https://subtlepatterns.com/patterns/qbkls.png);
}

.container {
    text-align: center;
    margin: 40px 100px 0 100px;
    border: 1px solid rgb(224, 224, 224);
    padding: 20px 20px 20px 20px;
    border-radius: 4px;
    background-color:white;
}

.instructions {
    margin-top: 40px;


}

.crystals {
    margin-top:60px;
}

.result {
    margin-top: 50px; 
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 20px;

}

#win, #lost, #previous {
    margin-top:30px;
    font-family: 'Source Sans Pro', sans-serif;
    
}

.header {
    font-family: 'Federant', cursive;
    font-size: 20px;
    color: rgb(17, 17, 17);
    
}

.instructions {
    font-family: 'Source Sans Pro', sans-serif;
    margin-right: 40px;
    margin-left: 40px;
}

